ul {
    list-style-type: none;
}

dl {
    display: grid;
    grid-template-columns: max-content auto;
}

dt {
    grid-column-start: 1;
    height: 25px;
    width: 25px;
}

dd {
    grid-column-start: 2;
}

.sms77-letter {
    display: inline-block;
    height: 25px;
    margin: 2px;
    text-align: center;
    width: 25px;
}