ul {
    list-style-type: none;
}

dl {
    display: grid;
    grid-template-columns: max-content auto;
}

dt {
    grid-column-start: 1;
}

dt, .sms77-letter {
    height: 35px;
    width: 35px;
}

dd {
    grid-column-start: 2;
}

.sms77-letter {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    margin: 2px;
}